{% extends 'wishlistApp/base.html' %}


{% block title %}
  Wishlist - Change Password
{% endblock title %}


{% block content %}
<form method="POST">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Change Password</legend>
    {{ form|crispy }}
  </fieldset>
  <div class="form-group">
    <a href="{% url 'profile' %}"><button class="btn btn-outline-secondary" type="button">Cancel</button></a>
    <button class="btn btn-outline-info" type="submit">Update Password</button>
  </div>
</form>
{% endblock content %}
  