{% extends 'wishlistApp/base.html' %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Delete Account</legend>
      <h4>Are you sure you want to delete your account?</h4>
      <p class='text-dark'>This will permanently delete your profile and any items you've created.</p>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group justify-right-parent">
      <button class="btn btn-outline-danger" type="submit">Confirm</button>
    </div>
  </form>
{% endblock content %}