{% extends 'wishlistApp/base.html' %}

{% block content %}
  <h1>Hello, {{ user.username }}</h1>
  <br>
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Account Info</legend>
      {{ form|crispy }}
      <div class='form-group'>
        <button class='btn btn-sm btn-outline-danger' formaction="{% url 'change-password' %}" formmethod='get' type='submit'>Change Password</button>
      </div>
    </fieldset>
    <div class="form-group justify-right-parent">
      <button class="btn btn-outline-info" type="submit">Update Info</button>
      <button class='btn btn-outline-danger justify-right' formaction="{% url 'delete-account' %}" formmethod='get' type='submit'>Delete Account</button>
    </div>
  </form>
{% endblock content %}
    