{% extends 'wishlistApp/base.html' %}


{% block content %}
  {% if user.is_authenticated %}
    <!-- display list here --> Make changes to index.html to display the list here!
  {% else %}
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Wishlist App!</h1>
    <p class="lead">Construct your own wishlist to keep track of items you want.</p>
    <hr class="my-4">
    <p class="text-muted">Don't have an account yet?</p>
    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Sign up now!</a>
  </div>
  {% endif %}
{% endblock content %}
