{% extends 'wishlistApp/base.html' %}


{% block content %}
  {% if user.is_authenticated %}
    <!-- display list here --> Make changes to index.html to display the list here!
    <div>{{user}}'s List</div>
    <div>

    <table style="width:100%">
      {% for items in Item %}
        <tr>
          <th>{{items.name}} </th>
          <th>{{items.image}} </th>
          <th>{{items.description}} </th>
          <th>{{items.priority}} </th>
          <th> <button name="Edit" style="background:green">
                <a href="% url 'newItem' %">Edit</a>
                </button>
               <button name="Remove" style="background:red">Remove</button></th>
        </tr>
      {% endfor %}
      <button name="Add">
        <a href="% url 'newItem' %"> Add Item </a>
      </button>
    </div>
</table>
{% for i in stuff %}
<div id="accordion"></div>
  <div class="card">
    <div class="card-header" id="heading{{ i.id }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ i.id }}" aria-expanded="true" aria-controls="collapseOne">
          <h4>{{ i.name }}</h4>
        </button>
      </h5>
    </div>

    <div id="collapse{{ i.id }}" class="collapse hide" aria-labelledby="heading{{ i.id }}" data-parent="#accordion">
      <div class="card-body">
          <p><img src="{{ i.image }}" width="auto" height="400"></img></p>
          <p>Description: {{ i.description }}</p>
          <p>Priority: {{ i.priority }}</p>
      </div>
    </div>
  </div>
{% endfor %}


  {% else %}
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Wishlist App!</h1>
    <p class="lead">Construct your own wishlist to keep track of items you want.</p>
    <hr class="my-4">
    <p class="text-muted">Don't have an account yet?</p>
    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Sign up now!</a>
  </div>
  {% endif %}
{% endblock content %}
