{% extends 'wishlistApp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
      <legend class="border-bottom mb-4">Update New Item</legend>
      {{form|crispy}}
      <label for="iURL" class=" requiredField"> 
      			Item URL
      			<span class="asteriskField">*</span>
  	  </label>
      <input type="text" class="textinput textInput form-control" name="iURL" value="{{url}}"><br>
      </fieldset>
      <div class="form-group justify-right-parent">
      <input type="submit" class="btn btn-outline-info" value="Submit">
  	  </div>
    </form>
    <a href="/"><button class="btn btn-outline-secondary">Cancel</button></a>
{% endblock content %}