{% extends 'wishlistApp/base.html' %}
{% block content %}

<h3>Welcome {{ user }} to your personal wishlist!</h3><br>

{% for item in list%}

<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4>{{ list.name }}</h4>
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <p>User Id: {{ list.user_id }} </p>
            <p>Url_id: {{ list.url_id }}</p>
            <p>Image: <img src="{{ list.image }}"></img></p>
            <p>Description: {{ list.description }}</p>
            <p>Priority: {{ list.priority }}</p>
        </div>
      </div>
</div>

{% endfor %}
{% endblock content %}
