{% extends 'wishlistApp/base.html' %}
{% block content %}
    <div align=center>{{user}}'s List</div>
    <div align=center>
    <table style="width:100%">
      <tr>
        <th>Item</th>
        <th>Image</th>
        <th>Description</th>
        <th>Priority</th>
        <th></th>
      </tr>
      {% for items in Item %}
        <tr>
          <th>{{items.name}} </th>
          <th>{{items.image}} </th>
          <th>{{items.description}} </th>
          <th>{{items.priority}} </th>
          <th> <button name="Edit" style="background:green">Edit</button>
               <button name="Remove" style="background:red">Remove</button></th>
        </tr>
      {% endfor %}
      <button name="Add"> Add Item </button>
    </div>
</table>
{% endblock content %}
